a {
    color: black;
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    box-sizing: border-box;
    background-color: yellow;
    justify-content: space-between;
    width: thick;
}

.box div {
    width: 50%;
    height: 100PX;
}

.b {
    line-height: 10px;
    font-weight: 12px;
}

textarea {
    resize: none;
}

span {
    margin: 1px
}

h4 {
    margin-bottom: 8px
}

h6 {
    margin-top: 3px
}

.box1 {
    width: auto;
    border: auto;
    background-color: orangered;
    padding: auto;
    margin: auto;
}