a {
    color: black;
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 85%;
    align-items: right;
    box-sizing: border-box;
    background-color:rgba(240, 234, 234, 0.808);
    justify-content: space-between;
    width: thick;
    padding: auto;
    border: auto;
    margin: auto;   
}

.box div {
    width: 50%;
    height: 100PX;
}

.b {
    line-height: 10px;
    font-weight: 12px;
}

textarea {
    resize: none;
}

span {
    margin: 1px
}

h4 {
    margin-bottom: 1px
}

h6 {
    margin-top: 1px
}

.box1 {
    width: 85%;
    border: auto;
    background-color: orangered;
    padding: auto;
    margin: auto;
}

img{
    margin: 12px;
    height:12px;
    width: 12px;
    background-color:rgba(240, 234, 234, 0.808);
    color: rgba(240, 234, 234, 0.808);
}