a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 86%;
    align-items: right;
    box-sizing: border-box;
    background-color: rgba(240, 234, 234, 0.808);
    justify-content: space-between;
    width: thick;
    padding: 5px;
    border: 0px;
    margin: auto;
    flex: 1;
}

.box div {
    width: 50%;
    height: 100PX;
}

textarea {
    resize: none;
}

span {
    margin: 1px
}

h4 {
    margin-bottom: 1px;
    font-weight: normal;
    align-items: left;
    margin-top: 1px
}

h6 {
    margin-top: 1px;
    color: grey;
}

h5 {
    margin-top: 1px;
    color: grey;
}

.box1 {
    width: 100%;
    background-color: #ff6600;
    border: 0px;
    padding: 2px;
    margin: auto;
    display: flex;
    margin-bottom: auto;
    align-items: center;
}

ul {
    margin: auto;
    padding: auto;
    background-color: orangered;
}

.cinza {
    color: grey;
}

.upvote {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid grey;
}

#negrito {
    font-weight: bold;
}

#jorge {
    display: flex;
    margin-left: auto;
    margin-right: 5px;
}

.arrumando {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

#border {
    border: 1px solid white;
    width: 20px;
    height: 20px;
}